<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--配置Spring MVC-->
    <!--1:开启Spring MVC 注解模式-->
    <!-- 简化配置：
             （1）自动注册 DefaultAnnotationHandlerMapping，AnnotationMethodHandlerAdapter
             （2）提供一系列：数据绑定，数字和日期的format @NumberFormat，@DataTimeFormat,
                  xml,json的默认读写支持-->
      <mvc:annotation-driven />

    <!--2： 静态资源默认servlet配置
             （1）加入对静态资源的处理：js，gif，png
             （2）允许使用“/”做整体映射-->
      <mvc:default-servlet-handler />

    <!--<mvc:resources location="js/" mapping="/js/**" />-->
    <!--<mvc:resources location="font/" mapping="/font/**" />-->
    <!--<mvc:resources location="img/" mapping="/img/**" />-->
    <!--<mvc:resources location="css/" mapping="/css/**" />-->
    <!--<mvc:resources location="assets/" mapping="/assets/**" />-->
    <!--<mvc:resources location="bower_components/" mapping="/bower_components/**" />-->
    <!--<mvc:resources location="ueditor/" mapping="/ueditor/**" />-->


    <!--3：默认的jsp的配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--4：扫描web相关的bean-->
    <context:component-scan base-package="cn.edu.tju.scs.admin.web,cn.edu.tju.scs.me.web" />



     <!--异常处理器 -->
    <!--<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
        <!--<property name="exceptionMappings">-->
            <!--<props>-->
                <!--<prop key="java.lang.Exception">Exception</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash; 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 &ndash;&gt;-->
        <!--<bean class="cn.edu.tju.scs.fm.interceptor.LoginInterceptor">-->
            <!--<property name="excludedUrls">-->
                <!--<list>-->
                    <!--<value>/login</value>-->
                    <!--<value>/preLogin</value>-->
                    <!--<value>/logout</value>-->
                    <!--<value>.jpg</value>-->
                    <!--<value>.css</value>-->
                    <!--<value>.js</value>-->
                    <!--<value>.woff</value>-->
                    <!--<value>.woff2</value>-->
                    <!--<value>.ttf</value>-->
                <!--</list>-->
            <!--</property>-->
        <!--</bean>-->
        <!--&lt;!&ndash; 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 &ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<bean class="cn.edu.tju.scs.bank.interceptor.LoginInterceptor"></bean>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<mvc:interceptor>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; 拦截所有URL中包含/user/的请求 &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<mvc:mapping path="/*"/>&ndash;&gt;-->
            <!--&lt;!&ndash;&ndash;&gt;-->
        <!--&lt;!&ndash;</mvc:interceptor>&ndash;&gt;-->
    <!--</mvc:interceptors>-->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         <property name="maxUploadSize" value="2048000000"/>
    </bean>

    <import resource="classpath:spring/spring-mvc-shiro.xml"/>


</beans>